ul {
  list-style: none;
}

.container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding: 30px;

  background-color: #65428c;
  text-align: center;
}

.add-btn {
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 17px;
  padding-right: 17px;
  display: block;
  border-radius: 5px;

  background-color: #a1378b;
  border: solid 1px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: aliceblue;
}

.form {
  margin-bottom: 10px;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  border-radius: 5px;
}

.phone-book {
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  color: #f3f1f1;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.del-btn {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 17px;
  border-radius: 5px;

  background-color: #a1378b;
  border: solid 1px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: aliceblue;
}

.del-btn:active {
  background-color: #aaa;
}

.add-btn:active {
  background-color: #aaa;
}

.serch {
  display: block;
  border-radius: 5px;
  width: 300px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.text {
  color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
}
